@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital@0;1 & family= Space+Grotesk:wght@500 & display=swap');

$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 75%, 50%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black-modal: hsl(0, 0%, 0%, 0.5);
$Linear-gradient-blue: hsl(249, 99%, 64%); 
$Linear-gradient-purple: hsl(278, 94%, 30%);
$Red: hsl(0, 100%, 66%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);


$Font: 'Kumbh Sans', sans-serif;
$font: 'Space Grotesk', sans-serif;