@use 'variables' as v;
@use 'initials';
@use 'mixins';


.main-container{
    border: 2px solid red;
    width: 375px;
    margin: auto;
    &__background-section{
        background-image: url(./imagenes/bg-main-mobile.png);
        background-repeat: no-repeat;
        height: 240px;
        position: relative;
    }
    &__form-section{
        padding: 90px 24px 45px;
    }
    @media (min-width: 1440px){
        width: 1440px;
        display: flex;
        &__background-section{
            background-image: url('./imagenes/bg-main-desktop.png');
            width: 900px;
            height: 900px;
        }
    }
}

.card{
   @include mixins.card('./imagenes/bg-card-front.png');
   @include mixins.card-position(126px, 18px, 178px, 167px);
   z-index: 1;
   letter-spacing: 2px;
   &__logo{
    width: 55px;
    margin-bottom: 30px;
   }
   &__number{
    margin-bottom: 15px;
   }
   &__details{
    display: flex;
    font-size: 0.7em;
    justify-content: space-between;
    text-transform: uppercase;
   }
   @media (min-width: 1440px){
    &__logo{
        width: 86px;
        margin-bottom: 55px;
       }
       &__number{
        font-size: 1.6em;
        margin-bottom: 25px;
       }  
       &__details{
        font-size: 0.9em
       }    
   
    }
}

.card-back{
    @include mixins.card('./imagenes/bg-card-ba.png');
    @include mixins.card-position(30px, 75px, 468px, 257px);
    letter-spacing: 2px;
    &__cvc{
        font-size: 0.7em;
        margin-top: 50px;
        text-align: right;
        padding-right: 10px;
        @media (min-width: 1440px) {
            font-size: 1em;
            margin-top: 80px;
            padding-right: 30px;
            
        }
    }
}




